#general
  - @uptime_in_seconds = @summary[:uptime].sum
  - @up_since = Time.now - @uptime_in_seconds
  - available = @miner_pool.miners.select{|miner| miner.available? }

  .text-center
    %table
      %tr
        %td Pool size
        %td
          = "#{@miner_pool.miners.count.to_s} miners"
          = "(#{available.count} available)"
      %tr
        %td Total processing time
        - if @uptime_in_seconds > 0
          %td= time_ago_in_words(@up_since)
        - else
          %td= @uptime_in_seconds.to_s + ' sec'
      %tr
        %td Total processed
        %td= format_hashrate(@uptime_in_seconds * @summary[:ghs_avg].sum * 1e9).sub('/s', '')