#general
  - uptime    = @summary[:uptime].sum
  - up_since  = Time.now - uptime
  - available = @miner_pool.miners.select{|miner| miner.available? }.count
  - total     = @miner_pool.miners.count

  .text-center
    %table
      %tr
        %td Pool size
        %td
          - if available == total
            = "#{available}/#{total} available"
          - else
            .red.bold= "#{available}/#{total} available"
      %tr
        %td Total processing time
        - if uptime > 0
          %td= time_ago_in_words(up_since)
        - else
          %td= uptime.to_s + ' sec'
      %tr
        %td Total processed
        %td= format_hashrate(uptime * @summary[:ghs_avg].sum * 1e9).sub('/s', '')