#miner-pool
  %table(cellpadding="0" cellspacing="0")
    %thead
      %th Host
      %th Rate(5s)
      %th Rate(avg)
      %th Devices

    %tbody
      - @miner_pool.miners.each_with_index do |miner, index|
        - @summary[:ghs_5s] << miner.summary[:ghs_5s]
        - @summary[:ghs_avg] << miner.summary[:ghs_av]

        %tr
          %td
            = link_to miner.host + ':' + miner.port.to_s, miner_url(index)
          %td.text-center= formatHashrate(miner.summary[:ghs_5s] * 1e9)
          %td.text-center= formatHashrate(miner.summary[:ghs_av] * 1e9)
          %td
            %table(cellpadding="0" cellspacing="0")
              %thead
                %th Name
                %th Status
                %th Elapsed
                %th Temp
                %th Error
              %tbody
                - miner.devs.each_with_index do |device, index|
                  - @summary[:error_rate]  << device[:'device_hardware%']
                  - @summary[:temperature] << device[:temperature]
                  - @summary[:uptime]      << device[:device_elapsed]

                  %tr.text-center
                    %td= device[:name] + index.to_s
                    %td= device[:status]
                    %td= time_ago_in_words(Time.now - device[:device_elapsed])
                    %td= device[:temperature].to_s + ' C / ' + toF(device[:temperature]).to_s + ' F'
                    %td= device[:'device_hardware%'].to_s + '%'

                  - if chain_stats = get_chain_stats_for(miner, device[:name]+index.to_s)
                    - 1.upto(4) do |i|
                      - status = chain_stats.send(:[], :"chain_acs#{i}") rescue nil
                      - next if status.empty?

                      %tr.text-center
                        %td= "ACS#{(i - 1).to_s}"
                        %td(colspan="4")= raw(status.gsub('x', '<span class="red bold">x</span>'))