#summary
  .container
    = render partial: 'shared/graphs/hashrate', locals: { target: 'local' }
  .container
    = render partial: 'shared/graphs/temperature', locals: { target: 'local' }
  .container
    = render partial: 'shared/graphs/hardware_error', locals: { target: 'local' }
  .container
    = render partial: 'shared/graphs/device_rejected', locals: { target: 'local' }
  .container
    = render partial: 'shared/graphs/pool_rejected', locals: { target: 'local' }
  .container
    = render partial: 'shared/graphs/pool_stale', locals: { target: 'local' }