#summary
  #total-ghs
    %h3 Local Rate
    - avg_ghs_5s = @summary[:ghs_5s].sum / @summary[:ghs_5s].count
    - avg_ghs_avg = @summary[:ghs_avg].sum / @summary[:ghs_avg].count

    %table(cellpadding="0" cellspacing="0")
      %tbody
        %thead
          %th
          %th Global
          %th Avg
        %tr
          %td 5s
          %td.text-center= formatHashrate(@summary[:ghs_5s].sum * 1e9 )
          %td.average-ghs= formatHashrate(avg_ghs_5s * 1e9)
        %tr
          %td Avg
          %td.text-center= formatHashrate(@summary[:ghs_avg].sum * 1e9)
          %td.average-ghs= formatHashrate(avg_ghs_avg * 1e9)

  #error-rate
    %h3 Error Rate

    %table(cellpadding="0" cellspacing="0")
      %tbody
        %thead
          %th
          %th Global
          %th Avg
        %tr
          %td 5s
          %td.text-center= formatHashrate(@summary[:error_rate].sum * @summary[:ghs_5s].sum * 1e9 / 100)
          %td.average-ghs= formatHashrate(@summary[:error_rate].sum * @summary[:ghs_5s].sum * 1e9 / 100 / @summary[:error_rate].count)
        %tr
          %td Avg
          %td.text-center= formatHashrate(@summary[:error_rate].sum * @summary[:ghs_avg].sum * 1e9 / 100)
          %td.average-ghs= formatHashrate(@summary[:error_rate].sum * @summary[:ghs_avg].sum * 1e9 / 100 / @summary[:error_rate].count)

  #temperature
    %h3 Temperature
    %table(cellpadding="0" cellspacing="0")
      %tbody
        %thead
          %th
          %th Global
        %tr
          %td Range
          %td.text-center
            = @summary[:temperature].min.round(1).to_s + '-' + @summary[:temperature].max.round(1).to_s + ' C / '
            = toF(@summary[:temperature].min).to_s + '-' + toF(@summary[:temperature].max).to_s + ' F'
        %tr
          %td Avg
          %td.text-center
            = (@summary[:temperature].sum / @summary[:temperature].count).round(1).to_s + ' C / '
            = toF(@summary[:temperature].sum / @summary[:temperature].count).to_s + ' F'

  .clear