- @summary.each_pair{|key, values| values.compact!}

#summary
  .container
    = render partial: 'shared/graphs/hashrate', locals: { target: 'local' }

    #total-ghs
      - avg_ghs_5s = @summary[:ghs_5s].sum / @summary[:ghs_5s].count rescue 0
      - avg_ghs_avg = @summary[:ghs_avg].sum / @summary[:ghs_avg].count rescue 0

      %table(cellpadding="0" cellspacing="0")
        %tbody
          %thead
            %th
            %th Global
            %th Min
            %th Avg
            %th Max
          %tr
            %td 5s
            %td.text-center= format_hashrate(@summary[:ghs_5s].sum * 1e9 )
            %td.text-center= format_hashrate(@summary[:ghs_5s].min * 1e9 )
            %td.text-center= format_hashrate(avg_ghs_5s * 1e9)
            %td.text-center= format_hashrate(@summary[:ghs_5s].max * 1e9 )
          %tr
            %td Avg
            %td.text-center= format_hashrate(@summary[:ghs_avg].sum * 1e9)
            %td.text-center= format_hashrate(@summary[:ghs_avg].min * 1e9 )
            %td.text-center= format_hashrate(avg_ghs_avg * 1e9)
            %td.text-center= format_hashrate(@summary[:ghs_avg].max * 1e9 )

  .container
    = render partial: 'shared/graphs/temperature', locals: { target: 'local' }

  .container
    = render partial: 'shared/graphs/hardware_error_hashrate', locals: { target: 'local' }

    #error-rate
      - avg_error_pct = @summary[:error_rate].sum / @summary[:error_rate].count rescue 0
      - avg_error_rate = avg_error_pct / 100
      - total_ghs_5s = (0...@summary[:error_rate].count).inject(0) {|r, i| r + @summary[:error_rate][i] / 100 * @summary[:ghs_5s][i]}
      - total_ghs_avg = (0...@summary[:error_rate].count).inject(0) {|r, i| r + @summary[:error_rate][i] / 100 * @summary[:ghs_avg][i]}

      %table(cellpadding="0" cellspacing="0")
        %tbody
          %thead
            %th
            %th Global
            %th Min
            %th Avg
            %th Max
          %tr
            %td 5s
            %td.text-center= format_hashrate(total_ghs_5s * 1e9)
            %td.text-center= format_hashrate(avg_error_rate * @summary[:ghs_5s].min * 1e9)
            %td.text-center= format_hashrate(((avg_error_rate * @summary[:ghs_5s].sum * 1e9 / @summary[:error_rate].count) rescue 0))
            %td.text-center= format_hashrate(avg_error_rate * @summary[:ghs_5s].max * 1e9)
          %tr
            %td Avg
            %td.text-center= format_hashrate(total_ghs_avg * 1e9)
            %td.text-center= format_hashrate(avg_error_rate * @summary[:ghs_avg].min * 1e9)
            %td.text-center= format_hashrate(((avg_error_rate * @summary[:ghs_avg].sum * 1e9 / @summary[:error_rate].count) rescue 0))
            %td.text-center= format_hashrate(avg_error_rate * @summary[:ghs_avg].max * 1e9)
          %tr
            %td %
            %td.text-center &dash;
            %td.text-center= @summary[:error_rate].min.round(2).to_s + '%'
            %td.text-center= avg_error_pct.round(2).to_s + '%'
            %td.text-center= @summary[:error_rate].max.round(2).to_s + '%'

  .container
    = render partial: 'shared/graphs/pool_rejected_hashrate', locals: { target: 'local' }

    #rejected-rate
      - avg_rejected_pct = @summary[:rejected_rate].sum / @summary[:rejected_rate].count rescue 0
      - avg_rejected_rate = avg_rejected_pct / 100
      - total_ghs_5s = (0...@summary[:rejected_rate].count).inject(0) {|r, i| r + @summary[:rejected_rate][i] / 100 * @summary[:ghs_5s][i]}
      - total_ghs_avg = (0...@summary[:rejected_rate].count).inject(0) {|r, i| r + @summary[:rejected_rate][i] / 100 * @summary[:ghs_avg][i]}

      %table(cellpadding="0" cellspacing="0")
        %tbody
          %thead
            %th
            %th Global
            %th Min
            %th Avg
            %th Max
          %tr
            %td 5s
            %td.text-center= format_hashrate(total_ghs_5s * 1e9)
            %td.text-center= format_hashrate(avg_rejected_rate * @summary[:ghs_5s].min * 1e9)
            %td.text-center= format_hashrate(((avg_rejected_rate * @summary[:ghs_5s].sum * 1e9 / @summary[:rejected_rate].count) rescue 0))
            %td.text-center= format_hashrate(avg_rejected_rate * @summary[:ghs_5s].max * 1e9)
          %tr
            %td Avg
            %td.text-center= format_hashrate(total_ghs_avg * 1e9)
            %td.text-center= format_hashrate(avg_rejected_rate * @summary[:ghs_avg].min * 1e9)
            %td.text-center= format_hashrate(((avg_rejected_rate * @summary[:ghs_avg].sum * 1e9 / @summary[:rejected_rate].count) rescue 0))
            %td.text-center= format_hashrate(avg_rejected_rate * @summary[:ghs_avg].max * 1e9)
          %tr
            %td %
            %td.text-center &dash;
            %td.text-center= @summary[:rejected_rate].min.round(2).to_s + '%'
            %td.text-center= avg_rejected_pct.round(2).to_s + '%'
            %td.text-center= @summary[:rejected_rate].max.round(2).to_s + '%'

  .container
    = render partial: 'shared/graphs/pool_stale_hashrate', locals: { target: 'local' }

    #pool-stale
      - avg_stale_pct = @summary[:pool_stale].sum / @summary[:pool_stale].count rescue 0
      - avg_stale_rate = avg_stale_pct / 100
      - total_ghs_5s = (0...@summary[:pool_stale].count).inject(0) {|r, i| r + @summary[:pool_stale][i] / 100 * @summary[:ghs_5s][i]}
      - total_ghs_avg = (0...@summary[:pool_stale].count).inject(0) {|r, i| r + @summary[:pool_stale][i] / 100 * @summary[:ghs_avg][i]}

      %table(cellpadding="0" cellspacing="0")
        %tbody
          %thead
            %th
            %th Global
            %th Min
            %th Avg
            %th Max
          %tr
            %td 5s
            %td.text-center= format_hashrate(total_ghs_5s * 1e9)
            %td.text-center= format_hashrate(avg_stale_rate * @summary[:ghs_5s].min * 1e9)
            %td.text-center= format_hashrate(((avg_stale_rate * @summary[:ghs_5s].sum * 1e9 / @summary[:pool_stale].count) rescue 0))
            %td.text-center= format_hashrate(avg_stale_rate * @summary[:ghs_5s].max * 1e9)
          %tr
            %td Avg
            %td.text-center= format_hashrate(total_ghs_avg * 1e9)
            %td.text-center= format_hashrate(avg_stale_rate * @summary[:ghs_avg].min * 1e9)
            %td.text-center= format_hashrate(((avg_stale_rate * @summary[:ghs_avg].sum * 1e9 / @summary[:pool_stale].count) rescue 0))
            %td.text-center= format_hashrate(avg_stale_rate * @summary[:ghs_avg].max * 1e9)
          %tr
            %td %
            %td.text-center &dash;
            %td.text-center= @summary[:pool_stale].min.round(2).to_s + '%'
            %td.text-center= avg_stale_pct.round(2).to_s + '%'
            %td.text-center= @summary[:pool_stale].max.round(2).to_s + '%'
