- unless @miner_pool.miners.empty?
  - content_for(:miner_pool) do
    = render partial: 'miner_pool'

  #tabs
    %ul
      %li= link_to 'Summary', '#summary'
      %li= link_to 'Miner Pool', '#miner-pool'

    = render partial: 'summary'
    = yield :miner_pool

  = render partial: 'general'

  :javascript
    $('#tabs').tabs();