- unless @miner_pool.miners.empty?
  - content_for(:miner_pool) do
    = render partial: 'miner_pool'

  #tabs
    %ul
      %li= link_to 'Summary', '#summary'
      %li= link_to 'Miner Pool', '#miner-pool'
      %li= link_to 'Admin', '#admin', class: 'danger'

    = render partial: 'summary'
    = yield :miner_pool

    #admin
      %ul
        %li= link_to "Run Command", '#run-pool-command', class: 'danger'

      #run-pool-command
        = form_tag(manager_run_url(), :'data-method' => 'post', remote: true, id: 'run_pool_form') do
          = render partial: 'shared/run'

        :javascript
          $('#run_pool_form').on('ajax:success', function(event, data, status, xhr) {
            $(this).empty();
            $(this).append(xhr.responseText);
          });


  = render partial: 'general'

  :javascript
    $('#tabs').tabs();
    $('#admin').tabs();