- version = @miner.version

#miner
  #tabs
    %ul
      %li= link_to 'Summary',   '#miner-summary'
      %li= link_to 'Devices',   '#devices'
      %li= link_to 'Pools',     '#pools'
      %li= link_to 'Stats',     '#stats'
      %li= link_to 'Config',    '#config'
      %li= link_to 'Run Command', '#run-command', class: 'danger'
      %li= link_to 'Manage Pools', '#manage-pools', class: 'danger'

    #miner-summary
      %ul
        %li= link_to "Overview", '#overview'
        %li= link_to "Coin", '#coin'

      %table(cellpadding="0" cellspacing="0" id="overview")
        %tr
          %td(colspan="2")
            %h4 Version: cgminer #{version[:cgminer]} (API #{version[:api]})
        - @miner.summary.each_pair do |key, value|
          %tr
            %td= key
            %td= value

      %table(cellpadding="0" cellspacing="0" id="coin")
        - @miner.coin.each_pair do |key, value|
          %tr
            %td= key
            %td= value
  
    #devices
      - devices = @miner.devs
      %ul
        - devices.each_with_index do |device, index|
          - if asc = device.delete(:asc)
            %li= link_to 'ASC ' + asc.to_s, '#device-' + index.to_s
          - elsif pga = device.delete(:pga)
            %li= link_to 'PGA ' + pga.to_s, '#device-' + index.to_s

      - devices.each_with_index do |device, index|
        %table(cellpadding="0" cellspacing="0" id="device-#{index.to_s}")
          - device.each_pair do |key, value|
            %tr
              %td= key
              %td= value

    #pools
      - pools = @miner.pools
      %ul
        - pools.each_with_index do |pool, index|
          - if id = pool.delete(:pool)
            %li= link_to 'Pool ' + id.to_s, '#pool-' + index.to_s

      - pools.each_with_index do |pool, index|
        %table(cellpadding="0" cellspacing="0" id="pool-#{index.to_s}")
          - pool.each_pair do |key, value|
            %tr
              %td= key
              %td= value

    #stats
      - stats = @miner.stats
      %ul
        - stats.each_with_index do |stat, index|
          - stat.delete(:stats)
          - id = stat.delete(:id)
          %li= link_to id, '#stat-' + index.to_s

      - stats.each_with_index do |stat, index|
        %table(cellpadding="0" cellspacing="0" id="stat-#{index.to_s}")
          - stat.each_pair do |key, value|
            %tr
              %td= key
              %td= value

    #config
      - config = @miner.config

      %table(cellpadding="0" cellspacing="0")
        - config.each_pair do |key, value|
          %tr
            %td= key
            %td= value

    #run-command
      = form_tag(miner_run_url(miner_id: @miner_id), :'data-method' => 'post', remote: true, id: 'run_form') do
        = render partial: 'shared/run'

      :javascript
        $('#run_form').on('ajax:success', function(event, data, status, xhr) {
          $(this).empty();
          $(this).append(xhr.responseText);
        });

    #manage-pools
      = form_tag(miner_manage_pools_url(miner_id: @miner_id), :'data-method' => 'post', remote: true, id: 'manage_pools_form') do
        = render partial: 'shared/manage_pools'

      :javascript
        $('#manage_pools_form').on('ajax:success', function(event, data, status, xhr) {
          $(this).empty();
          $(this).append(xhr.responseText);
        });

:javascript
  $(function() {
    $('#tabs').tabs();
    $('#miner-summary').tabs();
    $('#stats').tabs();
    $('#pools').tabs();
    $('#devices').tabs();
  });