#miner
  #tabs
    %ul
      %li= link_to 'Summary',   '#summary'
      %li= link_to 'Devices',   '#devices'
      %li= link_to 'Pools',     '#pools'
      %li= link_to 'Stats',     '#stats'
      %li= link_to 'Admin',     '#admin', class: 'danger'

    = render partial: 'summary'
    = render partial: 'devices'
    = render partial: 'pools'
    = render partial: 'stats'
    = render partial: 'admin'

:javascript
  $(function() {
    $('#tabs').tabs({activate: setWindowHash});
  });