- version = @miner_data[@miner_id][:version].first[:version].first rescue {}
- summary = @miner_data[@miner_id][:summary].first[:summary].first rescue {}
- config = @miner_data[@miner_id][:config].first[:config].first rescue {}
- coin = @miner_data[@miner_id][:coin].first[:coin].first rescue {}

#summary
  %ul
    %li= link_to "Overview", '#overview'
    %li= link_to 'Config',    '#config'
    %li= link_to "Coin", '#coin'

  #overview
    %table(cellpadding="0" cellspacing="0" id="host-summary")
      %thead
        %th Host
        %th Rate(5s)
        %th Rate(avg)
        %th Devices
      %tbody
        = render partial: 'shared/miner_summary_row', locals: { miner: @miner, miner_index: @miner_id }

    = render partial: 'shared/graphs/hashrate', locals: { target: 'miner' }
    = render partial: 'shared/graphs/temperature', locals: { target: 'miner' }
    = render partial: 'shared/graphs/hardware_error_hashrate', locals: { target: 'miner' }
    = render partial: 'shared/graphs/pool_rejected_hashrate', locals: { target: 'miner' }
    = render partial: 'shared/graphs/pool_stale_hashrate', locals: { target: 'miner' }

    %table(cellpadding="0" cellspacing="0" id="overview-table" class="table table-hover")
      %tbody
        %tr
          %td.text-left.bold Cgminer version
          %td.text-right= version[:cgminer]
          %td.text-left.bold API version
          %td.text-right= version[:api]
        %tr
          %td.text-left.bold Found blocks
          %td.text-right= summary[:found_blocks]
          %td.text-left.bold Get works
          %td.text-right= summary[:getworks]
        %tr
          %td.text-left.bold Accepted
          %td.text-right= summary[:accepted]
          %td.text-left.bold Rejected
          %td.text-right= summary[:rejected]
        %tr
          %td.text-left.bold Hardware errors
          %td.text-right= summary[:hardware_errors]
          %td.text-left.bold Utility
          %td.text-right= summary[:utility]
        %tr
          %td.text-left.bold Discarded
          %td.text-right= summary[:discarded]
          %td.text-left.bold Stale
          %td.text-right= summary[:stale]
        %tr
          %td.text-left.bold Local work
          %td.text-right= summary[:local_work]
          %td.text-left.bold Network blocks
          %td.text-right= summary[:network_blocks]
        %tr
          %td.text-left.bold Total processed
          %td.text-right= format_hashrate(summary[:total_mh] * 1e3).sub('/s','')
          %td.text-left.bold Work utility
          %td.text-right= summary[:work_utility]
        %tr
          %td.text-left.bold Difficulty accepted
          %td.text-right= summary[:difficulty_accepted]
          %td.text-left.bold Difficulty rejected
          %td.text-right= summary[:difficulty_rejected]
        %tr
          %td.text-left.bold Best share
          %td.text-right= summary[:best_share]
          %td.text-left.bold Last getwork
          %td.text-right= time_ago_in_words(Time.at(summary[:last_getwork])) + ' ago'

  %table(cellpadding="0" cellspacing="0" id="config")
    - config.to_a.in_groups_of(2) do |group|
      %tr
        - group.each do |key, value|
          %td.text-left.bold= key
          %td.text-right= value

  %table(cellpadding="0" cellspacing="0" id="coin")
    - coin.each_pair do |key, value|
      %tr
        %td= key
        %td.text-right= value

:javascript
  $(function() {
    $('#summary').tabs();
  });