#usbstats
  - usbstats = @miner_data[@miner_id][:usbstats].first[:usbstats]
  - devices = usbstats.group_by{|stat| [stat[:name], stat[:id]]}

  %ul
    - devices.each_with_index do |group, index|
      %li= link_to group.first.join(''), "#usbdevice-#{index.to_s}}"
  
  - devices.each_with_index do |group, index|
    %div(id="usbdevice-#{index.to_s}")
      %ul
        - group.last.each_with_index do |stat, index|
          - name = stat.delete(:stat)
          %li= link_to name, '#usbstat-' + index.to_s

      - group.last.each_with_index do |stat, index|
        - stat.delete(:name)
        - stat.delete(:id)
        %table(cellpadding="0" cellspacing="0" id="usbstat-#{index.to_s}" class="usbstat")
          - stat.to_a.in_groups_of(2) do |group|
            %tr
              - group.each do |key, value|
                %td.text-left.bold= key
                %td.text-right= value
    :javascript
      $(function() {
        $('#usbdevice-#{index.to_s}').tabs();
      });

:javascript
  $(function() {
    $('#usbstats').tabs();
  });