#miner-show
  - unless @miner.nil? || !@miner.available?
    - content_for(:page_title) do
      = link_to("CgminerManager", root_url) + ' > ' + @miner.host + ':' + @miner.port.to_s

    = render partial: 'shared/warnings'

    #miner
      #tabs
        %ul
          %li= link_to 'Host',  '#summary'
          %li= link_to 'Devs',  '#devices'
          %li= link_to 'Pools', '#pools'
          %li= link_to 'Stats', '#stats'
          %li= link_to 'Admin', '#admin', class: 'danger'

        = render partial: 'summary'
        = render partial: 'devices'
        = render partial: 'pools'
        = render partial: 'stats'
        = render partial: 'admin'

    :javascript
      $(document).unbind('update');
      $(document).on('update', function() {
        $('#updated').addClass('updating').text('Updating...');
        $('title').text('Updating...');

        $('#miner-show').load('#{miner_url(@miner_id)}', function() {
          $('#updated').removeClass('updating').html("<b>Updated:</b> <span>#{Time.zone.now.to_s}</span>");
          $('title').text('#{Rails.application.class.parent_name}');
        });
      });

  - else
    #miner
      #tabs
        %ul
          %li= link_to 'Summary',   '#summary'

      #summary
        #unknown-unavailable
          - if @miner.nil?
            Unknown miner
          - else
            Miner unavailable

:javascript
  $(function() {
    $('#tabs').tabs({activate: setWindowHash});
  });
