#stats
  - stats = @miner_data[@miner_id][:stats].first[:stats] || []
  %ul
    - stats.each_with_index do |stat, index|
      - name = stat[:id]
      %li= link_to name, '#stat-' + index.to_s

  - stats.each_with_index do |stat, index|
    - stat.delete('id')
    - stat.delete('stats')

    %div(id="stat-#{index.to_s}")
      - stat.each_pair do |key, value|
        %table(cellpadding="0" cellspacing="0" id="stat-#{index.to_s}-#{key.to_s}" class="table table-hover half-width left")
          %tbody
            %tr
              %td.text-left.bold= key
              %td.text-right= value.is_a?(Numeric) ? number_with_delimiter(value) : value
  .clear

:javascript
  $(function() {
    $('#stats').tabs();
  });