%div
  = label_tag(:command, "Command:")
  = text_field_tag(:command)
%div
  = label_tag(:command, "Arguments:")
  = text_field_tag(:'arguments')
= submit_tag("Run")

%br
%br

%div
  See
  = link_to "cgminer_api_client README", "https://github.com/jramos/cgminer_api_client#commands"
  for available commands

#run-results
  - if @results
    - if @miner_id # miner results
      - if @results.is_a?(Array)
        - @results.each_with_index do |result, index|
          %h1 Result #{index}
          %table(cellpadding="0" cellspacing="0" id="run-results")
            - result.each_pair do |key, value|
              %tr
                %td= key
                %td= value
      - elsif @results.is_a?(Hash)
        %table(cellpadding="0" cellspacing="0" id="run-results")
          - @results.each_pair do |key, value|
            %tr
              %td= key
              %td= value
      - else
        = @results
    - else # pool results
      - @results.each_with_index do |miner_results, index|
        - miner = @miner_pool.miners[index]
        %h1 Miner #{miner.host + ':' + miner.port.to_s}
        
        - miner_results.each_with_index do |miner_result, miner_result_index|
          %h1 Result #{miner_result_index}
          - if miner_result.is_a?(Array)
            - miner_result.each_with_index do |result, index|
              %table(cellpadding="0" cellspacing="0" id="run-results")
                - result.each_pair do |key, value|
                  %tr
                    %td= key
                    %td= value
          - elsif miner_result.is_a?(Hash)
            %table(cellpadding="0" cellspacing="0" id="run-results")
              - miner_result.each_pair do |key, value|
                %tr
                  %td= key
                  %td= value
          - else
            = miner_result