- require 'pry'; binding.pry
- @results.each_with_index do |miner_results, index|
  - miner = @miner_pool.miners[index]
  %h1 Miner #{miner.host + ':' + miner.port.to_s}
  
  - miner_results.each_with_index do |miner_result, miner_result_index|
    %h1 Result #{miner_result_index}
    - if miner_result.is_a?(Array)
      - miner_result.each_with_index do |result, index|
        - if result.is_a?(Hash)
          %table(cellpadding="0" cellspacing="0" id="run-results")
            - result.each_pair do |key, value|
              %tr
                %td= key
                %td= value
        - else
          = miner_result
    - elsif miner_result.is_a?(Hash)
      %table(cellpadding="0" cellspacing="0" id="run-results")
        - miner_result.each_pair do |key, value|
          %tr
            %td= key
            %td= value
    - else
      = miner_result