- if is_multi_command?
  #miner_results
    %ul
      - @results.each_pair do |key, results|
        - next if key == :id
        - results = results.first[key] if results.respond_to?(:first)
        - next unless results
        %li= link_to key.to_s, "#result-#{key}"

    - @results.each_pair do |key, results|
      - next if key == :id
      - results = results.first[key] if results.respond_to?(:first)
      - next unless results

      %div(id="result-#{key.to_s}")
        - if results.is_a?(Array)
          %ul
            - results.each_with_index do |result, index|
              %li= link_to "Result #{index}", "#result-#{index}"

        = render partial: 'shared/run/results_table', locals: { results: results } if results

        :javascript
          $('#result-#{key.to_s}').tabs();

- else
  #miner_results
    - if @results.is_a?(Array)
      %ul
        - @results.each_with_index do |result, index|
          %li= link_to "Result #{index}", "#result-#{index}"
    - else
      %ul
        %li= link_to "Result", '#result'

    = render partial: 'shared/run/results_table', locals: { results: @results }

:javascript
  $('#miner_results').tabs();