!!!
%html
  %head
    %title= "CgminerManager"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #content
      #header
        #updated
          %b Updated:
          %span= Time.zone.now.to_s
        %h1 CgminerManager
        .clear

      = yield