!!!
%html
  %head
    %title= "CgminerManager"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body

    #ribbon(style="display:none;")
      = link_to image_tag('/forkme.png', style: 'position: absolute; top: 0; right: 0; border: 0;', alt: 'Fork me on GitHub'), 'https://github.com/jramos/cgminer_manager'

    :javascript
      if(config.show_github_ribbon) { $('#ribbon').fadeIn(1000); } else { $('#ribbon').remove(); }

    #content
      #header
        #updated-container
          #updated
            %b Updated:
            %span= Time.zone.now.to_s
          #update-now
            = link_to "Update Now", "#", onclick: 'update();'

        %h1
          = content_for?(:page_title) ? content_for(:page_title) : link_to("CgminerManager", root_url)
        .clear

      = yield